# Tests for problem: {{ problem.frontend_id }} {{ problem.title }} ({{ problem.difficulty }})
import sys
import os

import pytest

# This is needed to ensure the project path is in sys.path for imports
sys.path.insert(0, "{{project_path}}")

# This is needed to import the problem module correctly due to the slash in the slug
from utils.utils import import_problem_module  # noqa: E402 pylint: disable=wrong-import-position
{{ problem.get_slug_underscored() }} = import_problem_module("{{problem.slug}}", "{{path}}")


# Note: The expected values should be filled based on the problem requirements
# Note: You can add your own test cases here
# TODO: Fill the expected values for the test cases
@pytest.mark.parametrize('args,expected', [
{% for case in problem.extract_example_cases() %}    (({{ case | join(', ') }},), None),
{% endfor %}])
def test_solution(args, expected):
    assert {{ problem.get_slug_underscored() }}.Solution().{{ problem.get_method_name() }}(*args) == expected
